<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
        Solar Edge Posts task
    </title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'posts/css/booststrap.css' %}"
          rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'posts/css/main.css' %}"
          rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img class="logo-image" src="{% static 'posts/images/logo.svg' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

</nav>
